:root {
  --col-main-1: #7B1E7A;
  --col-main-2: #F3C677;
  --col-dark: #0C0A3E;
  --col-accent: #FE5F55;
  --col-bg: #FEF5EF;
}

/* SHINY CLASSES */

.tab-content {
  /* 52 == height of tabbable (52) + 10 px of margin*/ 
  height: calc(100% - 52px);
  overflow-y: auto;
  margin: 10px 0px;
  padding: 0px 10px;
}

.tab-content > * {
  /* 20px because margins; 2px remains a mystery  */
  height: calc(100% - 22px);
}

/* CUSTOM CLASSES */

.ag_filter_control {
  padding-right: 10px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#filter_control_panel {
  background-color: var(--col-bg);
  padding: 10px;
}

.ag_tab_interactions_graph, .ag_panel_interactions_graph {
  width: 100%;
  height: 100%;
}

.ag_panel_single_protein {
  position: absolute;
  top: 30px; /* dfq? */
  left: calc(60% - 10px);
  width: 40%;
  height: 200px;
  background-color: #BDD5EAC9;
  margin-top: 42px; /* height of the navbar */  
  padding: 20px;
  border-radius: 5px;
}

.ag_panel_single_protein_expanded {
  height: calc(100% - 72px);
}

.ag_node_selector_container {
  height: 90px;
}

.ag_interactions_table {
  --correction: 0px;
  height: calc(100vh - 130px - var(--correction));
  width: 100%;
  min-width: 768px;
}

@media (max-width: 819px) {
  .ag_tab_interactions_graph {
    --correction: 60px;
  }
}

.filter_checkbox div.checkbox label {
  width: 100%;
  padding-left: 30px;
  --border-color: 140, 140, 140;
  --background-alpha: 0.1;
  border: 5px solid rgba(var(--border-color), 1);
  background-color: rgba(var(--border-color), var(--background-alpha));
}

.filter_checkbox_active div.checkbox label { --background-alpha: 0.8; }

.filter_checkbox_active div.checkbox:nth-child(1) label { --border-color: 249,  86,  79; }
.filter_checkbox_active div.checkbox:nth-child(2) label { --border-color: 164, 176, 245; }
.filter_checkbox_active div.checkbox:nth-child(3) label { --border-color:  79,  56,  36; }
.filter_checkbox_active div.checkbox:nth-child(4) label { --border-color:   0, 204, 102; }
.filter_checkbox_active div.checkbox:nth-child(5) label { --border-color: 179,  63,  98; }
.filter_checkbox_active div.checkbox:nth-child(6) label { --border-color: 243, 198, 119; }
.filter_checkbox_active div.checkbox:nth-child(7) label { --border-color:  12,  10,  62; }
.filter_checkbox_active div.checkbox:nth-child(8) label { --border-color: 102, 102, 102; }

#logo {    
  width: 100%;
  margin-bottom: 10px;
}

#single_protein-info {    
  height: 30%;
  overflow-y: auto;
  padding: 15px;
}

#single_protein-ifelse-neg {
  height: 100%;
}

#main_panel {
  padding: 10px;
}

#tabset_panel {
  height: 42px;
  background-color: var(--col-bg);
  border-radius: 5px;
}

#main_panel > * > * > .tabbable {
  height: 100%;
}

#filter_control-incorrect_motif_message {
  text-align: center;
  background: red;
  color: white;
  font-weight: bold;
}

.ag_protein_details {
  height: calc(100% - 90px);
}

.ag_protein_details > .tabbable {
  max-height: 70%;
  width: 100%;
  overflow: scroll;
}

.ag_close_button {
  float: right;
  z-index: 1;
}

/* Mostly used so that there is no button visible before rendering the table */
.ag_hidden_btn {
  opacity: 0;
}