:root {
  --node-panel-width: 30%;
  --height-no-header: calc(100vh - 200px);
  --col-main-1: #7B1E7A;
  --col-main-2: #F3C677;
  --col-dark: #0C0A3E;
  --col-accent: #FE5F55;
  --col-bg: #FEF5EF;
}

html {
  overflow: hidden;
  height: 100vh;
}

body {
  height: 100%;
}

/* SHINY CLASSES */

.vsc-initialized {
  height: 100vh;
}

.container-fluid {
  height: 100%;
  padding: 0px;
}

.well {
  background-color: var(--col-bg);
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-left: -15px;
  margin-right: -15px;
  height: 100%;
}

.row {
  margin: 0px;
  height: 100%;
}

.col-sm-2, .col-sm-10, .tabbable, .tab-pane {
  height: 100%;
}

.tab-content {
  /* 62 == height of tabbable (42) + 20 px of margin*/ 
  height: calc(100% - 62px);
}

/* CUSTOM CLASSES */

.ag_filter_control {
  /* 120 px for logo*/
  height: calc(100% - 120px);
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ag_tab_interactions_graph, .ag_panel_interactions_graph {
  width: 100%;
  height: 100%;
}

.ag_panel_single_protein {
  position: relative;
  top: -100%;
  left: 60%;
  width: 40%;
  height: 200px;
  background-color: #BDD5EAC9;
  margin-top: -20px;
  margin-left: 20px;
  padding: 20px
}

.ag_panel_single_protein_expanded {
  height: calc(100% + 20px);
}

.ag_node_selector_container {
  height: 90px;
}

.ag_interactions_table {
  --correction: 0px;
  height: calc(100vh - 130px - var(--correction));
  width: 100%;
  min-width: 768px;
}

@media (max-width: 819px) {
  .ag_tab_interactions_graph {
    --correction: 60px;
  }
}

.filter_checkbox div.checkbox label {
  width: 100%;
  padding-left: 30px;
  --border-color: 140, 140, 140;
  --background-alpha: 0.1;
  border: 5px solid rgba(var(--border-color), 1);
  background-color: rgba(var(--border-color), var(--background-alpha));
}

.filter_checkbox_active div.checkbox label { --background-alpha: 0.8; }

.filter_checkbox_active div.checkbox:nth-child(1) label { --border-color: 249,  86,  79; }
.filter_checkbox_active div.checkbox:nth-child(2) label { --border-color: 164, 176, 245; }
.filter_checkbox_active div.checkbox:nth-child(3) label { --border-color:  79,  56,  36; }
.filter_checkbox_active div.checkbox:nth-child(4) label { --border-color:   0, 204, 102; }
.filter_checkbox_active div.checkbox:nth-child(5) label { --border-color: 179,  63,  98; }
.filter_checkbox_active div.checkbox:nth-child(6) label { --border-color: 243, 198, 119; }
.filter_checkbox_active div.checkbox:nth-child(7) label { --border-color:  12,  10,  62; }
.filter_checkbox_active div.checkbox:nth-child(8) label { --border-color: 102, 102, 102; }

.ag_logo {    
  width: 100%;
  padding: 7px;
}

#single_protein-info {    
  height: 30%;
  overflow-y: auto;
  padding: 15px;
}

#single_protein-ifelse-neg {
  height: 100%;
}

#app_main_panel {
  height: 42px;
}

.ag_protein_details {
  height: calc(100% - 90px);
}

.ag_protein_details > .tabbable {
  max-height: 70%;
  width: 100%;
  overflow: scroll;
}