:root {
  --node-panel-width: 30%;
  --height-no-header: calc(100vh - 200px);
  --col-main-1: #7B1E7A;
  --col-main-2: #F3C677;
  --col-dark: #0C0A3E;
  --col-accent: #FE5F55;
  --col-bg-dark: #BDD5EA;
}

/* SHINY CLASSES */

.vsc-initialized {
  height: 100vh;
}

.container-fluid {
  height: 100%;
  padding: 0px;
}

.well {
  background-color: var(--col-bg-dark);
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-left: -15px;
  margin-right: -15px;
}

.row {
  margin: 0px;
}

/* CUSTOM CLASSES */

.ag-control-panel {
  height: var(--height-no-header);
  overflow-y: auto;
  overflow-x: hidden;
}

.ag-page-content {
  width: 100%;
  height: var(--height-no-header);
}

.ag-graph-panel {
  width: 100%;
  height: 100%;
}

.ag-node-panel {
  position: relative;
  top: -100%;
  left: 60%;
  width: 40%;
  height: 200px;
  background-color: var(--col-bg-dark);
  margin-top: -20px;
  padding: 20px
}

.ag-node-panel-activated {
  height: 100%;
}

.ag-select-node-container {
  height: 90px;
}

.ag-table-panel {
  --correction: 0px;
  height: calc(100vh - 130px - var(--correction));
  width: 100%;
  min-width: 768px;
}

@media (max-width: 819px) {
  .ag-table-panel {
    --correction: 60px;
  }
}

.filter_checkbox div.checkbox label {
  width: 100%;
  padding-left: 30px;
  --border-color: 140, 140, 140;
  --background-alpha: 0.1;
  border: 5px solid rgba(var(--border-color), 1);
  background-color: rgba(var(--border-color), var(--background-alpha));
}

.filter_checkbox_active div.checkbox label { --background-alpha: 0.8; }

.filter_checkbox_active div.checkbox:nth-child(1) label { --border-color:  27, 158, 119; }
.filter_checkbox_active div.checkbox:nth-child(2) label { --border-color: 217,  95,   2; }
.filter_checkbox_active div.checkbox:nth-child(3) label { --border-color: 117, 112, 179; }
.filter_checkbox_active div.checkbox:nth-child(4) label { --border-color: 231,  41, 138; }
.filter_checkbox_active div.checkbox:nth-child(5) label { --border-color: 102, 166,  30; }
.filter_checkbox_active div.checkbox:nth-child(6) label { --border-color: 230, 171,   2; }
.filter_checkbox_active div.checkbox:nth-child(7) label { --border-color: 166, 118,  29; }
.filter_checkbox_active div.checkbox:nth-child(8) label { --border-color: 102, 102, 102; }

.ag-title-bar {
  height: 80px;
  background-color: var(--col-accent);
  
}

.ag-logo {    
  height: 100%;
  padding: 7px;
}

#node_info-info {    
  height: 30%;
  overflow-y: auto;
  padding: 15px;
}

#node_info-ifelse-neg {
  height: 100%;
}

.ag-node-info {
  height: calc(100% - 90px);
}

.ag-node-info > .tabbable {
  max-height: 70%;
  width: 100%;
  overflow: scroll;
}