:root {
  --col-main-1: #7B1E7A;
  --col-main-2: #F3C677;
  --col-dark: #0C0A3E;
  --col-accent: #FE5F55;
  --col-bg: #FEF5EF;
  --col-detail: #BDD5EAC9;
}

/* BUTTONS */

button,
button.btn, 
button.btn-defaultm,
button.dt-button,
a.dt-button,
a.ag-download-button,
a.paginate_button {
  color: var(--col-dark) !important;
  background-color: var(--col-main-2) !important;
  border-color: #adc0d0 !important;
  border-radius: 4px !important;
  
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  margin: 6px 3px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:hover,
button.btn:hover, 
button.btn-defaultm:hover,
button.dt-button:hover,
a.dt-button:hover,
a.ag-download-button:hover,
a.paginate_button:hover {
  color: #fff !important;
  border-color: var(--col-dark) !important;
  background-image: linear-gradient(to bottom, #9dbad0 0%, #607c93 100%) !important;
}

button.disabled,
a.disabled,
button.disabled:hover,
a.disabled:hover {
  color: #8A8A8A !important;
  background-color: #F4F4F4 !important;
  border-color: #b9b9b9 !important;
  background-image: none !important;
}

a.paginate_button.current,
button.dt-button.active:not(.disabled) {
  background-image: linear-gradient(to bottom, #77abd5 0%, #114d80 100%) !important;
  color: #fff !important;
  box-shadow: inset 1px 1px 3px #444;
}

/* VISNETWORK ELEMENTS */

#maindivgraph > div > hr {
  display: none;
}

/* SHINY CLASSES */

.tab-content {
  /* 52 == height of tabbable (42) + 10 px of margin*/ 
  height: calc(100% - 52px);
  overflow-y: auto;
  margin: 10px 0px;
  padding: 0px 10px;
}

.tab-content > * {
  /* 20px because margins; 2px remains a mystery  */
  height: calc(100% - 22px);
}

.shinyhelper-container {
  right: 15px !important;
}

/* CUSTOM CLASSES */

#filter_control {
  padding-right: 10px;
  padding-bottom: 50px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#filter_control_panel {
  background-color: var(--col-bg);
  padding: 10px;
}

#tab_interactions_graph {
  width: 100%;
  height: 100%;
}

#panel_single_protein {
  position: absolute;
  top: 30px; /* dfq? */
  left: calc(60% - 10px);
  width: 40%;
  background-color: var(--col-detail);
  margin-top: 42px; /* height of the navbar */  
  padding: 20px;
  border-radius: 5px;
}

.panel_contracted {
  height: 100px;
}

.panel_expanded {
  height: calc(100% - 72px);
}

#node_selector_container {
  height: 60px;
}

#interactions_table {
  --correction: 0px;
  height: calc(100vh - 130px - var(--correction));
  width: 100%;
  min-width: 768px;
}

@media (max-width: 819px) {
  #tab_interactions_graph {
    --correction: 60px;
  }
}

.filter_checkbox div.checkbox label {
  width: 100%;
  padding: 3px 0 3px 30px;
  --border-color: 204, 204, 204;
  --background-alpha: 0.1;
  border: 1px solid rgba(var(--border-color), 1);
  border-radius: 4px;
  background-color: rgba(var(--border-color), var(--background-alpha));
}

.filter_checkbox_active div.checkbox label {
  --background-alpha: 0.6;
  padding: 0 0 0 30px;
  border-width: 4px;
}

.filter_checkbox_active div.checkbox:nth-child(1) label { --border-color: 249,  86,  79; }
.filter_checkbox_active div.checkbox:nth-child(2) label { --border-color: 164, 176, 245; }
.filter_checkbox_active div.checkbox:nth-child(3) label {
  color: white;
  --border-color:  79,  56,  36;
}
.filter_checkbox_active div.checkbox:nth-child(4) label { --border-color:   0, 204, 102; }
.filter_checkbox_active div.checkbox:nth-child(5) label { --border-color: 179,  63,  98; }
.filter_checkbox_active div.checkbox:nth-child(6) label { --border-color: 243, 198, 119; }
.filter_checkbox_active div.checkbox:nth-child(7) label { --border-color:  12,  10,  62; }
.filter_checkbox_active div.checkbox:nth-child(8) label { --border-color: 102, 102, 102; }

#logo {    
  width: 100%;
  margin-bottom: 10px;
}

#single_protein-info {
  overflow-y: auto;
  padding: 15px;
}

#single_protein-ifelse-neg {
  /* 60 px -- size left for selector of protein */
  height: calc(100% - 60px);
}

#main_panel {
  padding: 10px;
}

#tabset_panel,
#single_protein-tabs {
  height: 42px;
  background-color: var(--col-bg);
  border-radius: 5px;
}

#main_panel > * > * > .tabbable {
  height: 100%;
}

.ag-motif-incorrect {
  text-align: center;
  background: red;
  color: white;
  font-weight: bold;
}

#protein_details > * {
  overflow: auto;
}

#btn_close_tab {
  float: right;
  z-index: 1;
}

a.ag-download-button-disabled {
  pointer-events: none;
}