.nav-pills {
  font-weight: bold;
  background-color: var(--col-bg);
  border-radius: 5px;
}

.nav-pills > li {
  padding: 0.25em 0 0.25em 0.25em;
}

.nav-pills > li+li {
  margin-left: 0;
}

.nav-pills > li > a {
  --border-color: 204, 204, 204;
  color: black;
  border: 1px solid rgb(var(--border-color));
  background-color: rgba(var(--border-color), 0.1);
  padding: 0.4em 0.8em;
}

#tabset_panel {
  font-size: 24px;
}

#main_panel {
  padding: 10px;
}

#main_panel > * > * > .tabbable {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-content {
  /*
  Added manual height due to the graph not centering
  52px is the height of #tabset_panel
  */
  height: calc(100% - 52px);
  overflow-y: auto;
  padding: 0px 10px;
  margin: 10px 0px;
}

.tab-content > * {
  height: calc(100% - 25px);
}
