:root {
  --height-no-header: calc(100vh - 180px);
}

/* SHINY CLASSES */

.vsc-initialized {
  height: 100vh;
}

.container-fluid {
  height: 100%;
}

/* CUSTOM CLASSES */

.ag-control-panel {
  height: var(--height-no-header);
  overflow-y: auto;
  overflow-x: hidden;
}

.ag-page-content {
  width: 100%;
  height: var(--height-no-header);
  display: flex;
}

.ag-graph-panel {
  width: 70%;
  height: 100%;
}

.ag-node-panel {
  width: 30%;
  height: 100%;
}

.ag-table-panel {
  --correction: 0px;
  height: calc(100vh - 130px - var(--correction));
  width: 100%;
  min-width: 768px;
}

@media (max-width: 819px) {
  .ag-table-panel {
    --correction: 60px;
  }
}

.filter_checkbox div.checkbox label {
  width: 100%;
  padding-left: 30px;
}

.filter_checkbox div.checkbox:nth-child(1) label { border: 5px solid #1B9E77; background-color: #1B9E7777; }
.filter_checkbox div.checkbox:nth-child(2) label { border: 5px solid #D95F02; background-color: #D95F0277; }
.filter_checkbox div.checkbox:nth-child(3) label { border: 5px solid #7570B3; background-color: #7570B377; }
.filter_checkbox div.checkbox:nth-child(4) label { border: 5px solid #E7298A; background-color: #E7298A77; }
.filter_checkbox div.checkbox:nth-child(5) label { border: 5px solid #66A61E; background-color: #66A61E77; }
.filter_checkbox div.checkbox:nth-child(6) label { border: 5px solid #E6AB02; background-color: #E6AB0277; }
.filter_checkbox div.checkbox:nth-child(7) label { border: 5px solid #A6761D; background-color: #A6761D77; }
.filter_checkbox div.checkbox:nth-child(8) label { border: 5px solid #666666; background-color: #66666677; }

.ag-title {
  height: 35px;
  text-align: center;
  border-bottom: 10px solid gray;
  padding-bottom: 50px;
}

#node_info-info {    
  height: 30%;
  overflow-y: auto;
  padding: 15px;
}

#conditional_node_panel {
  height: 100%;
}

.ag-node-info {
  height: 100%;
}

.ag-node-info > .tabbable {
  max-height: 70%;
  width: 100%;
  overflow: scroll;
}