:root {
  --height-no-header: calc(100vh - 180px);
}

/* SHINY CLASSES */

.vsc-initialized {
  height: 100vh;
}

.container-fluid {
  height: 100%;
}

/* CUSTOM CLASSES */

.ag-control-panel {
  height: var(--height-no-header);
  overflow-y: auto;
  overflow-x: hidden;
}

.ag-page-content {
  width: 100%;
  height: var(--height-no-header);
  display: flex;
}

.ag-graph-panel {
  width: 70%;
  height: 100%;
}

.ag-node-panel {
  width: 30%;
  height: 100%;
}

.ag-table-panel {
  --correction: 0px;
  height: calc(100vh - 130px - var(--correction));
  width: 100%;
  min-width: 768px;
}

@media (max-width: 819px) {
  .ag-table-panel {
    --correction: 60px;
  }
}

.filter_checkbox div.checkbox label {
  width: 100%;
  padding-left: 30px;
  --color: 160, 160, 160;
  border: 5px solid rgba(var(--color), 1);
  background-color: rgba(var(--color), 0.5);
}

.filter_checkbox div.checkbox:nth-child(1) label { --color:  27, 158, 119; }
.filter_checkbox div.checkbox:nth-child(2) label { --color: 217,  95,   2; }
.filter_checkbox div.checkbox:nth-child(3) label { --color: 117, 112, 179; }
.filter_checkbox div.checkbox:nth-child(4) label { --color: 231,  41, 138; }
.filter_checkbox div.checkbox:nth-child(5) label { --color: 102, 166,  30; }
.filter_checkbox div.checkbox:nth-child(6) label { --color: 230, 171,   2; }
.filter_checkbox div.checkbox:nth-child(7) label { --color: 166, 118,  29; }
.filter_checkbox div.checkbox:nth-child(8) label { --color: 102, 102, 102; }

.ag-title {
  height: 35px;
  text-align: center;
  border-bottom: 10px solid gray;
  padding-bottom: 50px;
}

#node_info-info {    
  height: 30%;
  overflow-y: auto;
  padding: 15px;
}

#conditional_node_panel {
  height: 100%;
}

.ag-node-info {
  height: 100%;
}

.ag-node-info > .tabbable {
  max-height: 70%;
  width: 100%;
  overflow: scroll;
}