/* SHINY CLASSES */

.vsc-initialized {
  height: 100vh;
}

.container-fluid {
  height: 100%;
}

/* CUSTOM CLASSES */

.ag-page-content {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
}

.ag-control-panel {
  width: 15%;
}

.ag-graph-panel {
  width: 70%;
  height: 100%;
}

.ag-node-panel {
  width: 15%;
}

.ag-table-panel {
  --correction: 0px;
  height: calc(100vh - 130px - var(--correction));
  width: 100%;
  min-width: 768px;
}

@media (max-width: 819px) {
  .ag-table-panel {
    --correction: 60px;
  }
}

.ag-title {
  height: 35px;
  text-align: center;
  border-bottom: 10px solid gray;
  padding-bottom: 50px;
}