/* SHINY CLASSES */

.vsc-initialized {
  height: 100vh;
}

.container-fluid {
  height: 100%;
}

/* CUSTOM CLASSES */

.ag-page-content {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
}

.ag-control-panel {
  width: 15%;
}

.ag-graph-panel {
  width: 70%;
  height: 100%;
}

.ag-node-panel {
  width: 15%;
}

.ag-table-panel {
  --correction: 0px;
  height: calc(100vh - 130px - var(--correction));
  width: 100%;
  min-width: 768px;
}

@media (max-width: 819px) {
  .ag-table-panel {
    --correction: 60px;
  }
}

#graph_control-labels_shown div.checkbox label {
  width: 100%;
  padding-left: 30px;
}

#graph_control-labels_shown div.checkbox:nth-child(1) label { border: 5px solid #1B9E77; background-color: #1B9E7777; }
#graph_control-labels_shown div.checkbox:nth-child(2) label { border: 5px solid #D95F02; background-color: #D95F0277; }
#graph_control-labels_shown div.checkbox:nth-child(3) label { border: 5px solid #7570B3; background-color: #7570B377; }
#graph_control-labels_shown div.checkbox:nth-child(4) label { border: 5px solid #E7298A; background-color: #E7298A77; }
#graph_control-labels_shown div.checkbox:nth-child(5) label { border: 5px solid #66A61E; background-color: #66A61E77; }
#graph_control-labels_shown div.checkbox:nth-child(6) label { border: 5px solid #E6AB02; background-color: #E6AB0277; }
#graph_control-labels_shown div.checkbox:nth-child(7) label { border: 5px solid #A6761D; background-color: #A6761D77; }
#graph_control-labels_shown div.checkbox:nth-child(8) label { border: 5px solid #666666; background-color: #66666677; }

.ag-title {
  height: 35px;
  text-align: center;
  border-bottom: 10px solid gray;
  padding-bottom: 50px;
}